{% extends "base.html" %}
{% block content %}
<h1>Bienvenido a la Fundacion Protesis 3D</h1>
<br>
<br>
{% if not user.is_authenticated %}
    <p>Para acceder al sistema debes ingresar tu usuario y clave o registrarte.</p>
{% endif %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="https://static.wixstatic.com/media/f3f627_003069119c4840c4bebccb9372d2442b~mv2_d_5456_3376_s_4_2.jpg/v1/fill/w_980,h_454,al_c,q_85,usm_0.66_1.00_0.01/f3f627_003069119c4840c4bebccb9372d2442b~mv2_d_5456_3376_s_4_2.webp" class="d-block w-100" alt="portada">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000 ">
      <img src="https://i.ibb.co/6s1ps3P/portada.jpg" class="d-block w-100" alt="portada2">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item"data-bs-interval="3000" >
      <img src="https://static.wixstatic.com/media/f3f627_01d0623528a94e408ac93a8a20776848~mv2_d_5184_3456_s_4_2.jpg/v1/fill/w_980,h_454,al_c,q_85,usm_0.66_1.00_0.01/f3f627_01d0623528a94e408ac93a8a20776848~mv2_d_5184_3456_s_4_2.webp" class="d-block w-100" alt="portada3">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>

 


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}