.card:hover {
    box-shadow: 5px 5px 15px 2px rgba(152, 151, 177, 0.273) !important;
    transition: all 0.7s linear;
}
.card-body {
    padding: 2rem 0 !important;
}
.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}
.card {
    margin-top: 89px;
    color: #000;
    border-top: 12px;
    max-height: 27vh;
}
